autopep8==1.4.4
decorator==4.4.2
Django==3.1.7
django-user-activity-log2==0.0.24
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
httplib2==0.9.1
lxml==4.5.0
numpy==1.18.1
oauthlib==3.1.0
pandas==1.0.0
psycopg2==2.8.4
PyJWT==1.7.1
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.2
requests==2.22.0
requests-toolbelt==0.9.1
simplejson==3.17.0
urllib3==1.25.8
uWSGI==2.0.18
xlrd==1.2.0
XlsxWriter==1.2.7
pycryptodome==3.9.8
jellyfish==0.7.2
python-crontab==2.5.1
python-dotenv==0.15.0
django-cors-headers==3.7.0